@import "../../../../../scss/variable.scss";

.cart {
  .cart__link {
      color: $white;
    svg {
      width: 36px;
      height: 26px;
    }

    b {
        font-size: 14px;
        line-height: 15px;
        font-weight: 700;
        padding-bottom: 5px;
    }
  }
}
