@import "../../scss/variable.scss";

.pdp {
  padding-top: 20px;
  .container {
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .pdp__wrapper {
    .pdp__blog {
      h2 {
        color: #0f1111;
        font-size: 25px;
        line-height: 20px;
        font-style: normal;
        margin-bottom: 10px;
      }

      img {
        width: 300px;
        height: 350px;
        object-fit: cover;
      }
    }
  }
}
