@import "./../../../../../scss/variable.scss";

.header__signin {
    margin-right: 5px;
    .header__signin__link {
        color: $white;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        div {
            display: flex;
            align-items: center;
            gap: 5px;
            p {
                font-size: 14px;
                line-height: 15px;
                font-weight: 700;
                padding-bottom: 5px;
            }
        }
    }
}