@import "../../../scss/variable.scss";

.header {
  height: 60px;
  background-color: $darkMoonBlue;
  padding: 0px 20px;
  display: flex;
  align-items: center;

  .logo__link {
    display: flex;
    align-items: center;
    margin-right: 7px;
    .header__logo {
      height: 50px;
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 5px;
      &:hover {
        border: 1px solid $white;
      }
    }
  }

  .header__delivery__address {
    color: $white;
    display: flex;
    align-items: center;
    margin-right: 14px;

    p {
      font-size: 12px;
      line-height: 14px;
      height: 14px;
      font-weight: 400;
      color: #ccc;
    }

    b {
      font-size: 14px;
      line-height: 15px;
      font-weight: 700;
      color: $white;
    }
  }

  .header__return {
    color: $white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5px;
    p {
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
    }

    b {
      font-size: 14px;
      line-height: 15px;
      font-weight: 700;
      padding-bottom: 5px;
    }
  }
}

.header > div {
  padding: 0 5px;
  min-height: 50px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.1s ease;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.header > div:hover {
  border: 1px solid $white;
}

.header_location_popup {
  background-color: $white;
  box-shadow: 0 0 14px 0 rgba(15, 17, 17, .5);
  width: 373px;
  border-radius: 8px;
  
  .header_location_popup_header {
    background-color: #f0f2f2;
    height: 57px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
  }
}
