.cart {
  .container {
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .cart__container {
    .cart__header {
      h1 {
        text-align: center;
      }
    }

    .cart__body {
      .cart__body__item {
        display: flex;
        justify-content: space-between;
        .cart__body__left {
          .cart__body__left__wrapper {
            display: flex;
            align-items: center;
            gap: 10px;
            img {
              width: 100px;
              height: 100px;
              border-radius: 10px;
            }
            .cart__body__left__title {
                h4 {
                    margin-bottom: 10px;
                }
                .cart__body__left__btn {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
          }
        }

        .cart__body__right {
        }
      }
    }
  }
}
