.cart {
  padding: 20px 0px 15px 0px;
  .container {
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .cart__wrapper {
    .cart__header {
      margin-bottom: 10px;
      h1 {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #0f1111;
      }
    }

    .cart__body {
      .cart__item {
        .cart__left {
          max-width: 900px;
          width: 100%;
          border: 1px solid rgb(194, 194, 194);
          padding: 16px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .cart__left__blog {
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 5px;
            img {
              width: 120px;
              height: 120px;
              object-fit: cover;
              border-radius: 10px;
            }

            a {
              font-size: 16px;
              color: #1f2026;
              line-height: 1.5rem;
              line-height: 1;
            }

            .cart__count__btn__wrapper {
              display: flex;
              align-items: center;
              justify-content: space-around;
              border-radius: 10px;
              height: 40px;
              margin-top: 10px;
              border: 1px solid black;

              button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background: none;
                cursor: pointer;
                outline: none;
                font-size: 20px;
              }
            }
          }

          .cart__remove__btn {
            display: flex;
            align-items: center;
            gap: 10px;
            button {
              display: flex;
              justify-content: center;
              border: none;
              background: none;
              cursor: pointer;
              outline: none;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
